
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-size: 14px;
}

.app-header {
  height: auto;
  background-color: #6fbc9d;
  padding: 30px;

  .header-text {
    font-size: 20px;
    color: #fff;
    width: 90%;
    display: inline-block;
  }

  .close-icon {
    background: url('../images/Cancel.png') center center no-repeat;
    height: 16px;
    width: 16px;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
  }
}

.overlay {
  position: absolute;
	z-index: 99999;

  .overlay-backdrop {
    background: black;
    opacity: 0.1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
	.overlay-content {
      border-radius: 3px;
      background: #fff;
      box-shadow: 0px 0px 4px 0px;
      line-height: normal;
      outline: none;
      max-width: 700px;
      min-width: 200px;
      opacity: 1;
      position: absolute;
      width: auto;
      right: 50%;
      top: 100%;
      color: #726363;
  	transform: translate(50%, 9px);
  	> div {
  		font-size: .95em;
  	}
  }
}

.main-container {
  margin: auto;
  padding: 20px;

  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .new-icon {
    background: url('../images/plus.png') center center no-repeat;
    height: 16px;
    width: 16px;
    margin: 0 auto;
  }

  &.overlay-show {
    overflow: hidden;
  }

  .projectContainer {
    width: 25%;
    margin: 32px;
    box-shadow: 0 0 2px;
    background: #f9f9f9;
    padding: 20px;
    cursor: pointer;
    &.new-project:hover{
      box-shadow: unset;
      border: 1px solid #6fbc9d;
      .project-title{
        color: #6fbc9d;
      }
    }
  }

  .screen-4 {
    width: 21%;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
  }

  .project-body {

    &.new-project {
      margin: 16px;
      .project-title {
        display: block;
        text-align: center;
      }
    }

    .project-title {
      font-size: 18px;
      padding: 10px 0;
      color: #726363;
    }

    .project-desc {
      font-size: 12px;
      opacity: 0.8;
      color: #7b7b7b;
    }

    .project-highlight {
      font-size: 15px;
      padding-top: 10px;
      color: #726363;
    }
  }

  .border-view {
    padding: 20px;
    margin: 5px 0;
    border-right: 1px dashed gray;
  }

  .member-view {

    &.new-member {
      opacity: 0.7;
      cursor: pointer;
    }
    .header {
      box-shadow: 0 0 2px;
      background: #fff;
      padding: 20px;
      font-size: 15px;
      font-weight: bold;
      color: #716969;
    }

    .task-view {
      margin: 10px 0;
      background: #e6e1e1;
      padding: 15px;
      font-size: 12px;
      border-left: 2px solid;
      z-index: -3;

      &.new-task {
        border: 0;
        cursor: pointer;
        .task-title {
          display: block;
          margin: 0 auto;
          color: #b6b1b1;
          text-align: center;
        }

        &.drop-target {
          margin: 10px 0;
          background: #f9f9f9;
          padding: 15px;
          border: 1px dashed #c7c7c7;
          z-index: 10;
          &:before {
            content: "Drop here";
            color: rgba(0, 0, 0, 0.7);
            position: absolute;

          }
          .task-title {
            z-index: -1;
            opacity: 0.4;
          }
        }
      }

      &.green {
        border-left-color: #1fbdac;
        .task-status {
          background-color: #1fbdac;
          color: #f1f1f1;
        }
      }
      &.red {
        border-left-color: #f2d453;
        .task-status {
          background-color: #f2d453;
          color: #f1f1f1;
        }
      }
      &.yellow {
        border-left-color: #82c2e0;
        .task-status {
          background-color: #82c2e0;
        }
      }
      &.orange {
        border-left-color: orange;
        .task-status {
          background-color: orange;
        }
      }
      &.blue {
        border-left-color: #3cafce;
        .task-status {
          background-color: #3cafce;
          color: #f1f1f1;
        }
      }

      .task-title {
        color: #6e6868;
        font-weight: 800;
        font-size: 13px;
        display: inline-block;
        width: 50%;
        vertical-align: top;
        line-height: 32px;
        margin-left: -2px;
      }

      .task-status {
        border-radius: 13px;
        height: 26px;
        line-height: 26px;
        padding: 0 12px 0 12px;
        box-sizing: border-box;
        width: 40%;
        position: relative;
        padding-right: 16px;
        margin-left: 13px;
        display: inline-block;
        margin-top: 5px;

        .status-label {
          display: block;
          float: left;
          max-width: 100%;
          padding-right: 4px;
          font-size: 10px;
          line-height: 24px;
          color: #fff;
        }

        .down-icon {
          background: url('../images/downArrow.png') center center no-repeat;
          width: 16px;
          position: absolute;
          right: 8px;
          height: 26px;
          cursor: pointer;
        }
      }
    }
  }
}

.overlay-content {
  .change-status {
    width: 250px;
    text-align: left;
    .status {
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}


.form-field {
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 10px;
	margin: 0;
	display: block;
	transition: all 0.3s linear;
	.field-label {
		vertical-align: middle;
		font-weight: 700;
		display: block;
		margin-top: 9px;
		margin-bottom: 7px;
		font-size: 14px;
	}
	.input-group {
		display: inline-block;
		border: 0;
		padding: 0;
		vertical-align: middle;
		width: 80%;

    input[type='text'], textarea, select {
      outline: none;
    	height: 34px;
    	border: 1px solid #c7c7c7;
    	padding: 0 8px;
    	background-clip: border-box;
    	border-radius: 2px;
    	transition-property: border;
    	transition-duration: 0.35s;
    	font-size: 1.0rem;
    	box-sizing: border-box;
    	width: 100%;
    	vertical-align: middle;
    }

    textarea {
    	height: 60px;
    	padding-top: 4px;
    	resize: none;
    }
	}
}

button {
	background-color: transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #c7c7c7;
	display:inline-block;
	cursor:pointer;
	color:#c7c7c7;
	font-family:Arial;
	font-size: 14px;
	padding: 6px 20px;
	text-decoration:none;
  margin: 10px;
  &.primary {
    background-color:#329470;
  	border:1px solid #329470;
    color: #fff;
  }
}


.create-dialog {
  width: 400px;


  .dialog-header {
    padding: 10px;
    border-bottom: 1px solid gray;

    .header-label {
      display: inline-block;
      width: 95%;
      font-size: 16px;
      font-weight: bold;
      color: #726363;
    }

    .close-icon {
      background: url('../images/Cancel.png') center center no-repeat;
      height: 10px;
      width: 10px;
      background-size: contain;
      display: inline-block;
    }
  }

  .dialog-content {
    padding: 10px;
  }

  .dialog-actions {
    border-top: 1px solid gray;
    text-align: right;
  }
}
